@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Figtree, sans-serif;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
}
div#blog-card {
  background-color: hsl(0, 0%, 100%);
  width: 384px;
  height: 522px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
  margin: auto;
}
img#main-illustration {
  width: 100%;
  height: auto;
  aspect-ratio: 42/25;
  border-radius: 10px;
  margin-bottom: 24px;
}
p#category {
  width: 82px;
  height: 29px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 4px 12px;
}
p#publish-date {
  margin: 12px 0;
  font-weight: 500;
  font-size: 0.9rem;
}
h2#title {
  font-weight: 800;
  margin: 12px 0;
}
p#description {
  font-weight: 500;
  color: hsl(0, 0%, 50%);
  line-height: 1.5;
  margin-bottom: 24px;
}
p#author {
  display: flex;
  align-items: center;
}
#author-avatar {
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
}
#author-name {
  margin-left: 12px;
  font-weight: 800;
}
